{% extends 'base.html.twig' %}

{% block title %} Product List {% endblock %}

{% block body %}
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('client_list') }}">Client</a>
    {# <a href="{{ path('facture_list') }}">Facture</a> #}


    <h1>Products</h1>
    <a href="{{ path('product_add_form') }}">Add New Product</a>

    <table border="1">
        <thead>
            <tr>
             
                <th>Reference</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                   
                    <td>{{ product.reference }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ path('product_edit_form', { id: product.id }) }}">Edit</a> | 
                        <a href="{{ path('product_delete_form', { id: product.id }) }}" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
